.jumbotron {
  color: #B5446E;
  text-align: center;
}
body {
  background-color: #A3B6BA;
  font-family: Lucida Console;
}
h1 {
  color: #B5446E;
}
h2 {
  color: #B5446E;
}

img {
  float: right;
}
.container {
  text-align: center;
}
.home {
  text-align: center;
}
