.jumbotron {
  color: #B5446E;
  text-align: center;
  background: #DBF4FA;
}
body {
  background-color: #A3B6BA;
  font-family: Lucida Console;
}
h1 {
  color: #B5446E;
}
h2 {
  color: #B5446E;
}
.nelia {
  float: right;
}
.container {
  text-align: center;
}
.home {
  text-align: center;
}
.kiki img {
  width: 200px;
  height: 175px;
  align: top;
}
