.jumbotron {
  color: #B5446E;
  text-align: center;
}
h2 {
  color: #B5446E;
}
body {
  background: #B7CCD1;
  font-family: Lucida Console;
}
img {
  float: right;
}
.container {
  text-align: center;
}
